/* client/src/index.css */

/* Apply font globally */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Fade-in animation for sections */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  animation: fade-in 1.2s ease-out forwards;
}
